body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333;
  }
  
  header {
    background: #037afa;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    color: #032c57;
    border-bottom: 2px solid #d76f6f;
    padding-bottom: 0.5rem;
  }
  
  ul {
    list-style-type: square;
    padding-left: 1.2rem;
  }
  
  .project {
    background: #fcdcdc;
    padding: 1rem;
    border: 1px solid #cb2727;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .resume a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #006cdf;
    color: rgb(255, 254, 254);
    text-decoration: none;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #0173f5;
    color: white;
    margin-top: 2rem;
  }
  